<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23434944814-ql44ul8dg8ko6nb563i8ogoj6p3qag7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23434944814-ql44ul8dg8ko6nb563i8ogoj6p3qag7j</string>
	<key>API_KEY</key>
	<string>AIzaSyACUHVruAWPl6IT0Mgv10lD3R-nCUyZ-A4</string>
	<key>GCM_SENDER_ID</key>
	<string>23434944814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SPLYT.prod</string>
	<key>PROJECT_ID</key>
	<string>splyt-lifts</string>
	<key>STORAGE_BUCKET</key>
	<string>splyt-lifts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23434944814:ios:c1b08028e9249241041abf</string>
</dict>
</plist>