<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>13.3</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Font/static/Montserrat-Light.ttf</string>
		<string>Font/static/Montserrat-Regular.ttf</string>
		<string>Font/static/Montserrat-Medium.ttf</string>
		<string>Font/static/Montserrat-SemiBold.ttf</string>
		<string>Font/static/Montserrat-Bold.ttf</string>
		<string>Font/static/Montserrat-Black.ttf</string>
	</array>
</dict>
</plist>
